{% extends "base.html" %}
{% block startheader %}
<header>
    {% endblock %}
    {% block endheader %}
</header>
{% endblock %}
{% block content %}
<section class="login-page" id="login-page">
    <h2>Zaloguj się</h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field }}
        </div>
        {% endfor %}
        <div class="form-group">
            <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
      {% endif %}
        <div class="form-group form-group--buttons">
            <a href="/register#register-page" class="btn btn--without-border">Załóż konto</a>
            <button class="btn" type="submit">Zaloguj się</button>
        </div>
    </form>
</section>
{% endblock %}